# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
env/
ENV/
*.env

# Django stuff
*.log
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/

# Database
db.sqlite3

# Migrations (exclude them all except __init__.py)
**/migrations/*
!**/migrations/__init__.py



# IDE / Editors
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Coverage / testing
.coverage
htmlcov/
.pytest_cache/
